<h1>
  {{title}}
</h1>
<hr/>

<select>
  <option *ngFor="let symbol of symbols"> {{symbol}}</option>
</select>

Company Name : <input type="text" [(ngModel)]="symbol" value="{{symbol}}" />
<button (click)="search()">Search</button>
<table>
  <tr>
    <td>Date</td>
    <td>Symbol</td>
    <td>Open</td>
    <td>Close</td>
    <td>High</td>
    <td>Low</td>
    <td>Volume</td>
  </tr>
  <tr *ngFor="let stock of stocks">
    <td>{{stock.date}}</td>
    <td>{{stock.symbol}}</td>
    <td>{{stock.open}}</td>
    <td>{{stock.close}}</td>
    <td>{{stock.high}}</td>
    <td>{{stock.low}}</td>
    <td>{{stock.volume}}</td>
  </tr>
</table>