<form [formGroup]="form" (ngSubmit)="manage(form.value)">
  <div class="container" style="width: 70%">
    <table formArrayName="ruleColumns" class="table table-light">
      <tr>
        <td colspan="4"><button (click)="addNewColumn()" class="btn btn-outline-primary">Add Coulmn</button></td>
      </tr>
      <tr style="text-align:center" class="thead-light">
        <th>Source</th>
        <th>Destination</th>
        <th>Actions</th>
        <th></th>
      </tr>
      <tr style="text-align:center" [formGroupName]="i" *ngFor="let column of form.controls.ruleColumns.controls; let i = index">
        <td>
          <select formControlName="srcColumn" class="form-control">
            <option [value]="src" *ngFor="let src of srcheaders">{{src}}</option>
          </select>
        </td>
        <td>
          <select formControlName="destColumn" class="form-control">
            <option [value]="dest" *ngFor="let dest of destheaders">{{dest}}</option>
          </select>
        </td>
        <td>
          <select formControlName="action" class="form-control">
            <option [value]="action" *ngFor="let action of actions">{{action}}</option>
          </select>
        </td>
        <td style="width:50px">
          <button (click)="removeColumn(i)" class="btn btn-outline-danger">Remove</button>
        </td>
      </tr>

      <tr>
        <td colspan="4" style="text-align:right; padding-top:0px; padding-bottom: 0px">
          <hr>
          <button [disabled]="!form.valid" class="btn btn-outline-success">Generate Report</button>
          <hr>
        </td>
      </tr>
    </table>
  </div>
</form>