<form [formGroup]="form" (ngSubmit)="manage(form.value)">

  <table border="1">
    <tr>
      <td colspan="3"><button (click)="addNewColumn()">Add Coulmn</button></td>
    </tr>
    <tr>
      <td>File1</td>
      <td>File2</td>
      <td>Actions</td>
    </tr>
    <tr>
      <div formArrayName="ruleColumns">
        <div [formGroupName]="i" *ngFor="let column of form.controls.ruleColumns.controls; let i = index">
          <th>
            <select formControlName="srcColumn">
              <option [value]="country" *ngFor="let country of countries">{{country}}</option>
            </select>
          </th>
          <th>
            <select formControlName="destColumn">
              <option [value]="country" *ngFor="let country of countries">{{country}}</option>
            </select>
          </th>
          <th>
            <button (click)="removeColumn(i)">Delete</button>
          </th>
        </div>
      </div>
    </tr>
  </table>


  <button [disabled]="!form.valid">Submit</button>
</form>